/*
прагматика бук
font-family: pragmatica, sans-serif;
font-weight: 400;

пойнтер
font-family: poynter-oldstyle-display-con;
*/

@font-face {
  font-family: 'cooper';
  src: url('../fonts/Cooper-Medium.ttf');
}
@font-face {
  font-family: 'squiggle';
  src: url('../fonts/Squiggle1.7-Regular.otf');
}


.header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  cursor: default;
}

#arrow img {
  max-height: 100%;
}

.openCall {
  font-family: pragmatica, sans-serif;
  font-weight: 400;
  text-align: right;
  font-size: 60px;
  color: #0669ff;
}

#blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

#intro {
  font-family: poynter-oldstyle-display-con;
  font-size: 120px;
}

#mmoma {
  font-family: pragmatica, sans-serif;
  font-weight: 400;
}

#squiggle {
  font-family: squiggle;
  font-size: 250px;
}

.mainText {
  height: 100vh;
  cursor: default;
  font-family: cooper;
  font-size: 30px;
  display: flex;
  line-height: 120%;
}

.half {
  width: 50vw;
  padding: 20px;
}

.image img {
  max-width: 100%;
}

.squiggle {
  cursor: pointer;
  color: #0669ff;
  font-family: squiggle;
}

#right {
  color: #0669ff;
}
